<div class="empty" ng-if="!length">У вас нет сохраненных книг</div>
<div class="actions">
  <a ng-if="!length" class="add" href="./#/add" title="Добавить книгу">Добавить книгу</a>
</div>
<table ng-if="length">
  <caption>Список авторов</caption>
  <thead>
    <tr>
      <th>Имя автора</th>
      <th>Написано книг</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="(name, books) in authors">
      <td>
        <a title="Все книги автора {{name}}" href="./#/books/{{name}}">{{name}}</a>
      </td>
      <td class="count">{{books}}</td>
    </tr>
  </tbody>
</table>