<div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
  <h1 class="page-header">Библиотека</h1>
  <div class="panel panel-primary">
    <div class="panel-heading">Выберите раздел</div>
    <ul class="list-group">
      <li class="list-group-item">
        <a href="./#/books" title="Список книг"><span class="glyphicon glyphicon-book"></span> Список книг</a>
      </li>
      <li class="list-group-item">
        <a href="./#/authors" title="Список авторов"><span class="glyphicon glyphicon-user"></span> Список авторов</a>
      </li>
      <li class="list-group-item">
        <a href="./#/add" title="Добавить книгу"><span class="glyphicon glyphicon-plus"></span> Добавить книгу</a>
      </li>
    </ul>
  </div>
</div>